@import url('https://looi-wh.github.io/HintOfGreenCSS/theme.css'); /* Import Hint of Green CSS Theme */
@import url('https://ctalvio.github.io/Monochromic/bottom-progress_style.css'); /* Use Bottom Progress Bar */

/* Watch & Count Indicators look like Bookmark icons */
@import url('https://cdn.jsdelivr.net/gh/CTalvio/Ultrachromic/cornerindicator/indicator_corner.css');
.countIndicator, .fullSyncIndicator, .playedIndicator { background: rgba(47,93,98, 0.9); }
.countIndicator, .playedIndicator { height: 3em; border-bottom-left-radius: 0.5em !important; border-bottom-right-radius: 0.5em !important; }
.mediaSourceIndicator { background: rgba(47,93,98,0.7); border-radius: 0.5em !important; margin: 0.5em; }

/*Login background*/
#loginPage { display: grid; background: url('/Branding/Splashscreen?format=jpg&foregroundLayer=0.35') !important; background-position: center; background-size: cover; }

/* Login Screen Alignment fixes */
#loginPage .padded-left.padded-right.padded-bottom-page { margin-top: auto; }

/* Fix Border Radius of Jellyfin Users' Cards */
#loginPage .cardPadder.cardPadder-square, #loginPage .cardContent, #loginPage .cardImageContainer.coveredImage { border-bottom-left-radius: 0 !important; border-bottom-right-radius: 0 !important; }

/* Fix Dropdown buttons */
.trackSelections .selectContainer .detailTrackSelect { padding: 0.5em 1.9em 0.5em 0.5em; }
.emby-select[disabled] { padding: 0em 0.5em !important; }

/* Transparent Play button to have fade-in effect on hover */
/* .listItemImageButton.itemAction.paper-icon-button-light { background: transparent; color: transparent; } */

/* Style Backdrop to make it less blurry */
.backdropImage {filter: blur(2px) saturate(120%) contrast(120%) brightness(20%);}

/* Mobile fixes */
.itemBackdrop{ height: 15vh; }
.layout-mobile .itemBackdrop { height: 10vh; }

/* Enable Emby Tabs */
.headerTabs { display:block; }
.emby-tabs-slider { display:block;font-size: 80% }
.emby-tab-button.emby-button:hover { color: #a7c4bc!important; } /* Match hover color with rest of theme */
/* .libraryPage:not(.noSecondaryNavPage) { padding-top: 10em !important; } */

/* Blur Skin Header and increase padding of below content AND/OR use Static Skin Header */
.section0 { padding-top: 1.5em !important; }
/* .skinHeader-withBackground.skinHeader-blurred { backdrop-filter: blur(20px) brightness(0.5); border-bottom-left-radius: 3em; border-bottom-right-radius: 3em; } /* Uncomment this line to enable blurring of skin header. Usually used when the line below is commented out */
.skinHeader { position: absolute; } /* Comment out to disable Static Skin Header. Usually used with above line commented out */
/* .libraryPage:not(.noSecondaryNavPage) { padding-top: 10em !important; } */

/*Enlarge Jellyfin logo*/
.pageTitle { height: 2.5em; }
.headerTop { padding: 1em 0.5em; }

/* Restore profile icons */
.material-icons.person { display: inherit }
.headerButton.headerButtonRight.headerUserButton.paper-icon-button-light { display: inherit }

/* Restore Trailer and Favorite Buttons and more from season section */
/* .itemDetailPage .moreFromSeasonSection { display: revert !important; } /* Keep disabled for now as it provides duplicate .emby-scrollbuttons */
.itemDetailPage .btnPlayTrailer { display: revert !important; }
.itemDetailPage .btnUserRating { display: revert !important; }

/* Revert to horizontal scroll mechanism of Item Detail Pages */
@media all and (min-width:50em) { .homePage .emby-scroller, .itemDetailPage .emby-scroller { margin-right: revert !important; } .homePage .emby-scrollbuttons, .itemDetailPage .emby-scrollbuttons { display: revert !important; } .homePage .itemsContainer, .itemDetailPage .itemsContainer { flex-wrap: revert !important; } }

/* Revert Episodes to non-compact form and clamp overview to max. 4 lines */
.secondary.listItem-overview.listItemBodyText { height: unset !important; display: -webkit-box; -webkit-line-clamp: 4; -moz-line-clamp: 4; -ms-line-clamp: 4; line-clamp: 4; -webkit-box-orient: vertical; -moz-box-orient: vertical; -ms-box-orient: vertical; box-orient: vertical; }
.listItem-content { height: revert !important }
@media all and (min-width:100em) { .listItemImage.listItemImage-large.itemAction.lazy { height: inherit !important; } }
@media all and (max-width:100em) { .listItemImage.listItemImage-large.itemAction.lazy { height: 13vw !important } }
@media all and (max-width:64em) { .listItemImage.listItemImage-large.itemAction.lazy { height: 80px !important } }

/* Bring back Login Screen Items */
#loginPage .sectionTitle, #loginPage h1, #loginPage .checkboxContainer, #loginPage .raised.cancel.block.btnManual.emby-button, #loginPage .raised.cancel.block.btnForgotPassword.emby-button { display: inherit; }
#loginPage .readOnlyContent, #loginPage form { width: 70%; }

/* Colorize buttons on hover */
.btnCancel.raised.emby-button:hover, #btnDeleteImage.raised.emby-button:hover, .btnRevoke.raised.emby-button:hover, .paper-icon-button-light.btnDelete:hover, .button-delete.raised.emby-button:hover { color: red; background: pink; } /* Cancel, Delete and Revoke buttons */
.btnForgotPassword.raised.emby-button:hover, #btnResetPassword.raised.emby-button:hover, .button-alt.raised.emby-button:hover { color: #e27802; background: #fcecdd; } /* Forgot/Reset Password, and alt (like help) buttons */
.btnQuick.raised.emby-button:hover { color: #8d48c9; background: #e6d5ff; } /* Quick Connect button */
.fab.btnAddProvider.submit.emby-button:hover, .fab#btnAddUser.submit.emby-button:hover, .fab.btnNewKey.submit.emby-button:hover, .fab.btnNewRepository.submit.emby-button:hover { color: #21094e; background: #beaee2; } /* Add buttons */

/* Colorize Important Alerts */
.listItemIcon.material-icons.notification_important { color: red; background-color: pink !important; }

/* Fix Submit button color on hover */
#loginPage .button-submit:hover { background: rgba(167, 196, 188, 1) !important; }

/* Revive the "Ends at" info in the player */
.endsAt, .endsAtText { display: inherit !important }

/* Improve list item background on hover */
.listItem:hover { background: #2f5d626e; backdrop-filter: blur(3px); }

/* Improve Dashboard Sidebar colors */
.css-17c09up.Mui-selected { background-color: #2f5d6280; }
.css-17c09up.Mui-selected:hover { background-color: #2f5d62b3; }

/* Fix alignment in Quick Connect Page */
#quickConnectPreferencesPage .padded-left.padded-right.padded-bottom-page { display: flex; justify-content: center; }

/* Revive Item Title */
#itemDetailPage .itemName.infoText.parentNameLast { display: block; }
.hide+.detailPageWrapperContainer .itemName { display: revert !important; }
.itemName { margin: 0 !important }
.infoWrapper, .mainDetailButtons { height: inherit; }
.mainDetailButtons { align-items: flex-start; }
.nameContainer a.button-link.itemAction.emby-button { text-align: left; }
.nameContainer .itemName.infoText { padding-left: 0; }

/* Fix duplicate hover effect on card overlay button icons */
.cardOverlayButtonIcon:hover { background-color: transparent !important; }
.material-icons.cardOverlayButtonIcon.cardOverlayButtonIcon-hover.play_arrow:before { font-size: 90px; }
.cardOverlayContainer>.cardOverlayFab-primary { background-color: transparent; }
@media (hover: hover) and (pointer: fine) { .paper-icon-button-light:hover:not(:disabled) { background-color: rgba(0,0,0,0.5); } .paper-icon-button-light.cardOverlayFab-primary:hover:not(:disabled) { background-color: transparent; } }

/* Set Backdrop Blur on homepage & library */
.libraryDocument.withSectionTabs .backdropImage { filter: blur(50px) saturate(200%) contrast(170%) brightness(70%); }
.backgroundContainer.withBackdrop { background-color: rgba(47,93,98,.5); } /* Green shade over backdrop */
